.container-fluid {
  background-color: rgba(68, 147, 189, 0.758);
  display: flex;
  align-items: center;
  padding: 10px;
}

.container-fluid strong {
  color: white;
}
#resetBtn {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(68, 147, 189);
  color: rgb(19, 25, 30);
  border: none;
  cursor: pointer;
  border-radius: 5px;
  max-width: 200px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: contents;
  justify-content: center;
  align-items: flex-end;
  background-color: rgb(19, 25, 30);
  position: relative;
}

#gif-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px;
}

.gif-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.gif-wrapper img {
  display: block;
  margin: 0;
}

#toggleBtn:hover {
  background-color: rgb(38, 117, 169);
}
#toggleBtn {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  bottom: 10px;
  right: 5px;
  background-color: rgb(68, 147, 189);
  color: rgb(19, 25, 30);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 5px;
  margin-top: 5px;
  width: 60px;
  text-align: center;
}
#generateBtn {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(19, 25, 30);
}

.overlay-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 87px;
  height: 87px;
}

button#toggleBtn {
  position: absolute;
  top: 100px;
  align-self: center;
  max-width: 250px;
}
button#toggleBtn :hover {
  background-color: rgb(38, 117, 169);
}
input[id="number1"]::-webkit-outer-spin-button,
input[id="number1"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[id="number2"]::-webkit-outer-spin-button,
input[id="number2"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input-section {
  position: absolute;
  top: 20%;
  left: 50%;
  max-width: 300px;
}

.results-section {
  max-width: 300px;
}

input[type="number"] {
  max-width: 200px;
  width: 100%;
}
input[id="maxNumber"] {
  max-width: 100px;
  max-height: 50px;
}
input[id="minNumber"] {
  max-width: 100px;
  max-height: 50px;
}

.max-min {
  position: absolute;
  top: 17%;
  border-left: 10%;
  font-size: 16px;
}

.input-section {
  border-left: 25%;
}

.score-section {
  position: absolute;
  border-left: 10%;
  top: 60%;
}

.result-section {
  position: absolute;
  right: 20px;
}

.staticImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 87px;
  height: 87px;
  display: none;
}

.toggleBtn {
  color: rgb(19, 25, 30);
  position: absolute;
  font-size: small;
  bottom: 5%;
  right: 10%;
  padding: 2px;
  cursor: pointer;
  border-radius: 2px;
  max-width: 50px;
}

#valoreEsatto {
  position: absolute;
  top: 48%;
}
input[type="range"] {
  position: absolute;
  top: 65%;
  margin: 0 30px;
  max-width: 100px;
}
